[submodule "bundle/rainbow-parenthesis"]
	path = bundle/rainbow-parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = http://github.com/tpope/vim-pathogen
