[submodule "bundle/rainbow-parenthesis"]
	path = bundle/rainbow-parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = http://github.com/tpope/vim-pathogen
[submodule "bundle/xterm-color-table"]
	path = bundle/xterm-color-table
	url = http://github.com/guns/xterm-color-table.vim.git
